<!DOCTYPE html>
<html>
<head>
    <title>Anime Data</title>
</head>
<body>
    <h1>Anime Data</h1>
    <ul>
    <% anime_data.forEach(function(anime) { %>
        <li><a href="<%= anime.url %>"><%= anime.title %></a></li>
    <% }); %>
    </ul>
    <h1>Episode Data</h1>
    <ul>
    <% episode_data.forEach(function(episode) { %>
        <li><a href="<%= episode.url %>"><%= episode.title %></a></li>
    <% }); %>
    </ul>
    <h1>Ended Anime</h1>
    <ul>
    <% ended_anime.forEach(function(anime) { %>
        <li><%= anime.title %></li>
    <% }); %>
    </ul>
</body>
</html>
